[Desktop Entry]
Encoding=UTF-8
Name=Link to X9C102, X9C103, X9C104, X9C503 Datasheet
Type=Link
URL=https://www.renesas.com/us/en/document/dst/x9c102-x9c103-x9c104-x9c503-datasheet
Icon=text-html
